[Desktop Entry]
Name=gaia
Name[ca]=gaia
Name[ca@valencia]=gaia
Name[cs]=gaia
Name[da]=gaia
Name[de]=gaia
Name[en_GB]=gaia
Name[es]=gaia
Name[et]=gaia
Name[fi]=gaia
Name[gl]=gaia
Name[it]=gaia
Name[ko]=gaia
Name[nl]=gaia
Name[pl]=gaia
Name[pt]=gaia
Name[pt_BR]=gaia
Name[ru]=gaia
Name[sk]=gaia
Name[sl]=gaia
Name[sr]=gaia
Name[sr@ijekavian]=gaia
Name[sr@ijekavianlatin]=gaia
Name[sr@latin]=gaia
Name[sv]=gaia
Name[tr]=gaia
Name[uk]=gaia
Name[x-test]=xxgaiaxx
Name[zh_TW]=gaia
Exec=gaia
Icon=gaia
Type=Application
X-DocPath=gaia/index.html
GenericName=A Simple Application written with KDE Frameworks
GenericName[ca]=Una aplicació senzilla escrita amb els Frameworks del KDE
GenericName[ca@valencia]=Una aplicació senzilla escrita amb els Frameworks del KDE
GenericName[de]=Eine einfache Anwendung geschrieben mit KDE Frameworks
GenericName[en_GB]=A Simple Application written with KDE Frameworks
GenericName[es]=Una aplicación sencilla escrita con KDE Frameworks
GenericName[fi]=Yksinkertainen KDE Frameworksillä kirjoitettu sovellus
GenericName[gl]=Un programa sinxelo creado coas infraestruturas de KDE
GenericName[nl]=Een eenvoudige toepassing geschreven met KDE Frameworks
GenericName[pl]=Prosta aplikacja napisana przy wykorzystaniu Szkieletów KDE
GenericName[pt]=Uma Aplicação Simples feita com as Plataformas do KDE
GenericName[pt_BR]=Um aplicativo simples escrito com o KDE Frameworks
GenericName[sk]=Jednoduchá aplikácia napísaná pomocou KDE Frameworks
GenericName[sl]=Preprost program spisan v KDE-jevih ogrodjih
GenericName[sr]=Једноставан програм написан над Радним оквирима КДЕ‑а
GenericName[sr@ijekavian]=Једноставан програм написан над Радним оквирима КДЕ‑а
GenericName[sr@ijekavianlatin]=Jednostavan program napisan nad Radnim okvirima KDE‑a
GenericName[sr@latin]=Jednostavan program napisan nad Radnim okvirima KDE‑a
GenericName[sv]=Ett enkelt program skrivet med KDE:s ramverk
GenericName[uk]=Проста програма, написана за допомогою KDE Frameworks
GenericName[x-test]=xxA Simple Application written with KDE Frameworksxx
